<div class="div-item-top"  >
        <div>
        <div class="div-item">
                <div>
                <h1 style="padding: 20px;">AllProduct</h1>
                <Div style="padding: 20px;">
                <table *ngIf="tableMode; else create" class="table table-striped">
                        <thead>
                                <tr style="background: rgb(255, 251, 0);">
                                        <td>UserName</td>
                                        <td>ProductName</td>
                                        <td>Price</td>
                                        <td>Currency</td>
                                        <td></td>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let p of products">
                                <ng-template [ngIf]="product?.id != p.id" >
                                        <td>{{p?.userName}}</td>
                                        <td>{{p?.productName}}</td>
                                        <td>{{p?.price}}</td>
                                        <td>$</td>
                                        <td>
                                        <button class="btn btn-sm btn-primary" (click)="BuyProduct(p)">Buy</button>
                                        <button itemid="admindelete" class="btn btn-sm btn-danger "  (click)="delete(p)">Delete</button>
                                        
                                        </td>
                                </ng-template>                                                  
                                </tr>
                        </tbody>
                </table> 
                </Div> 
                </div>              
            
        </div>
</div>
</div>